.navbar-nav .nav-link.active {
    color: aliceblue
} 

.navbar-nav .nav-link {
    color: rgb(75, 75, 75);
}

.navbar-brand img{
    width: 45px;;
}

.navbar-toggler {
    background-color: rgb(75, 75, 75);
}